@charset "UTF-8";
        body {
            background-color: #1E1E24;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            <style>
            @import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
            </style>
           }
           h1.sirius{
               font-size: 50px;
               background-color: black;
             height: 115px;
             width: 250px;
             padding: 10px 15px 20px 25px;
             margin: 50px auto;
             border-width: 3px;
             border-style: solid; 
             color: #FFCF99;
             text-shadow: 3px 5px 4px #b67224;
             border-radius: 10px 30px;
           }
            tbody>tr:nth-child(even){
               background-color: teal;
            }
            tbody>tr:nth-child(odd){
                background-color: rgb(97, 90, 90);
            }
             table#Fab{
                 border: 1px solid;
                 border-spacing: 0px;
                 margin: 10px 20px 15px 20px;
                 color: rgb(12, 14, 12);
                 
             }
             table#Fab td#A{
                 font-weight: bolder;
                 color: white;
                 border: 1px solid black;
             }
              table#Fab td{
                  border: 1px solid;
                  padding: 5px;
                  text-align: center;  
              }
              table#Fab caption{
                  color: rgba(147, 247, 16, 0.829);
                  font-weight: bold;
                  font-size: 20pt;
                  padding: 10px 10px 10px 10px;
              }
             address{
                 color: #FFF8F0;
             }
              a{
                  color: #FFCF99;
              }
       
                p{ 
                    color: rgb(255, 255, 255);
                }
       
                h1{
                    color: rgb(235, 235, 235);
                }
                h2{
                    color: rgb(255, 255, 255);
                }
                ul{ font-family: 'Yomogi', cursive;
                   color: #ffffff;
                }
                ol{
                   font-family: 'Yomogi', cursive;
                   color: rgb(255, 255, 255);
                }
                iframe{
                 background-color: rgb(28, 41, 83);
                 height: 505px;
                 width: 700px;
                 padding: 15px 25px 25px 25px;
                 margin: 10px 40px auto;
                 border-width: 3px;
                 border-style: solid;
                 box-shadow: 4px 6px 3px rgb(61, 20, 155);
                }