/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");


a {
  text-decoration: none;
}
.container-card{
  font-family: poppins;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container-card {
  margin-top: 5vw;
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 300px; /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image, .card__image_video {
  position: relative;
  background-color: var(--first-color-light);
  /* padding-top: 1.5rem; */
  margin-bottom: -.75rem;
}

.card__data {
  background-color: var(--container-color);
  padding: 1.5rem .8rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  color: var(--cor-branco);
}

.card__img, .card__video {
  width: 400px;
  height: 700px;
  min-width: 100%;
  object-fit: cover;
  object-position: top;
  position: relative;
  z-index: 5;
}


.play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  /* background-color: var(--cor-branco); */
  border-radius: 50%;
  border: 2px solid var(--cor-branco);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  width: 48%;
  display: inline-block;
  background-color: var(--first-color);
  padding: .75rem .5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
  text-decoration: none !important;
}

.card__button:hover {
  background-color: var(--first-color-alt);
  color: var(--cor-branco);
}

.container-card-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: .5rem;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}
.swiper{
  padding: 30px !important ;
}
.swiper-pagination-bullet {
  background-color: var(--cor-laranja) !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

.figma{
  background-color: #A55EFF;
  color: var(--cor-branco);
}
.figma:hover{
  background-color: #8A3BFF;
  color: var(--cor-branco);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 75vw;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}