:root {
    --cor-fundo: #E5DEDE;
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-fundo-manutencao: #3d0c65;
    --cor-fundo-manutencao-2: #280158;
    --cor-fundo-imagem: #0e1538;;
    /* --cor-ico: #844fc6; */
    --cor-icon: #af41a2;
}
    