:root {
    --cor-fundo: #E5DEDE;
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-fundo-manutencao: #3d0c65;
    --cor-fundo-manutencao-2: #280158;
    --cor-fundo-imagem: #0e1538;;
    --cor-cinza: #999;
    --cor-icon: #af41a2;
    --cor-laranja: #FF7A00;
    --first-color: hsl(38, 92%, 58%);
    --first-color-light: hsl(38, 100%, 78%);
    --first-color-alt: hsl(32, 75%, 50%);
    --second-color: hsl(195, 75%, 52%);
    --dark-color: hsl(212, 40%, 12%);
    --white-color: hsl(212, 4%, 95%);
    --container-color: hsl(212, 42%, 20%);
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
}
    