html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(113deg, #2B2998 -30.3%, #010520 58.12%);
}

/* BEGIN: estilize o scroll */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #010520;
}

body::-webkit-scrollbar-thumb {
    background: var(--cor-branco);
    border-radius: 10px;
    transition: all 0.4s ease 0s;
}

body::-webkit-scrollbar-thumb:hover {
    background: #e1d6f7;
}
/* END: estilize o scroll */


.home{
    background: linear-gradient(113deg, #2B2998 -30.3%, #010520 58.12%);
}
.container-home{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    height: 100%;
    width: 70vw;
    padding-left: 100px;
    /* margin: 0 auto; */
    gap: 150px;
    padding-top: 268px;
}

.home-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    z-index: 2;
}
.texto-principal{
    color: #b1b1b1;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
    width: 600px;
    /* white-space: nowrap; */
    overflow: hidden;
}
.side{
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
}

.container-home .side{
    color: rgba(255, 255, 255, 0.30);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 27.8px;
    transform: rotate(-90deg);
}
.btn-padrao{
    width: 210px;
    font-family: Poppins;
    height: 43px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-branco);
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 501 !important;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-branco);
    transition: all 0.4s ease 0s;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-padrao:hover{
    color: #010520;
    background-color: var(--cor-branco);
    text-decoration: none;
    font-weight: 501;
    cursor: pointer;
    font-family: Poppins;
}
.container-redes-sociais{
    background-color: #010520;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.container-redes-sociais a{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s ease 0s;
}
.container-redes-sociais a:hover svg path{
    fill: var(--cor-branco);
    text-decoration: none;
    cursor: pointer;
}
.container-profissao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    padding: 50px 0;
    margin: auto;
}
.imagem-profissao img{
    width: 40vw;
    /* filter: opacity(0.1); */
}
.arrow-profissao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-profissao img{
    background-color: var(--cor-branco);
    border-radius: 100%;
    position: absolute;
    padding: 10px;
    margin-top: 75px;
    transform: translate(-50%, -50%);
}
.container-profissao .texto-profissao h1{
    color: var(--cor-branco);
    font-family: Quantico;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
    /* white-space: pre-wrap; */
    word-break: break-all;
    max-width: 500px;
    margin-bottom: 20px;
}
.texto-profissao h2{
    color: var(--cor-branco);
    font-family: Quantico;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 72px */
    letter-spacing: 0.3px;
    word-break: break-all;
    max-width: 500px;
}
.container-profissao .texto-profissao p{
    color: rgba(255, 255, 255, 0.50);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; 
    letter-spacing: 0.3px;
    max-width: 450px;
    margin-top: 20px;
}

.container-projetos{
    /* background: linear-gradient(113deg, #2B2998 -30.3%, #010520 58.12%); */
}

.linha::after{
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: var(--cor-branco);
    margin: 0 auto; 
}


.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 85px 0px 130px 0px;
}

.container-contato p{
    color: var(--cor-branco);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; 
    letter-spacing: 0.3px;
    max-width: 500px;
    margin-top: 20px;
}
.container-contato h1{
    color: var(--cor-laranja);
    font-family: Quantico;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
    max-width: 500px;
    margin-bottom: 20px;
}

/* .background-spinner-mobile{
    background-color: #010520;
     display: none;
    gap: 20px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.4s ease 0s;
} */

.background-spinner{
    background-color: #010520;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all 0.4s ease 0s;
}
.background-spinner h1{
    color: var(--cor-branco);
    font-family: Quantico;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}
.btn-carregamento{
    height: 50px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-branco);
    background-color: transparent !important;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-branco);
    padding: 10px 20px;
}
.btn-carregamento{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carregamento{
    background-color: var(--cor-branco);
}

#container3D{
    top: 58%;
    right: 30%;
    position: absolute;
}
canvas {
    width: 700px !important;
    height: 700px !important;
    top: 50%;
    right: 10px;
    position: absolute;
    z-index: 1;
}
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-contato{
    width: 206px;
    height: 50px;
    text-align: center;
    border-radius: 0;
    border: 2px solid var(--cor-branco);
    background-color: transparent;
    text-align: center;
    font-family: Quantico;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none !important;
    color: var(--cor-branco);
    transition: all 0.4s ease 0s;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-contato:hover{
    color: #2B2998;
    background-color: var(--cor-branco);
    text-decoration: none;
    cursor: pointer;
}

.info-3d{
    color: var(--cor-branco);
    background: rgba(255, 255, 255, 0.21);
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.27);
    position: absolute;
    bottom: 12%;
    right: 26%;
    padding: 10px 2.5% 10px 20px;
    z-index: 2;
}
.info-3d h1{
    font-family: Quantico;
    font-size: 28px;
    font-weight: 400;
    margin: 10px 0;
}
.info-3d p{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
.scroll-top{
    position: relative;
}
.scroll-top i{
    display: none;
    position: fixed;
    bottom: 4%;
    right: 4%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--cor-laranja);
    color: var(--cor-laranja);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-scroll{
    display: flex !important;
}

.active-scroll:hover{
    animation: bounce 4s infinite;
}

.whatsapp-btn {
    position: fixed;
    bottom: 30px !important;
    left: 50px !important;
    right: auto !important;
}


@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(-15px);
    }
}



/* RESPONSIVIDADE */
@media (max-width: 1360px) {
    .container-home{
        flex-direction: column;
        gap: 50px;
        padding-top: 160px;
        padding-left: 50px;
    }
    .btn-contato{
        width: 180px;
        height: 45px;
        font-size: 20px;
    }
    .background-spinner h1{
        font-size: 40px;
    }  
    .btn-carregamento{
        height: 50px;
        font-size: 25px;
    }
    .side{
        font-size: 18px;
        right: -8%;
    }
}

@media (max-width: 760px) {
    .container-home{
        padding-left: 40px;
        gap: 100px;
    }
    .texto-principal{
        width: 500px;
    }
    .home-principal h1, .subtitulo-web {
        font-size: 26px;
        margin-bottom: 0;
    }
    #container3D canvas {
        top: 0;
        right: 0;
        left: auto;
        z-index: 1;
    }
    .side{
        display: none;
    }
    .btn-contato{
        width: 160px;
        height: 40px;
        font-size: 18px;
    }
    .background-spinner-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background-spinner-mobile h1{
        font-size: 20px;
        text-align: center;
        color: white;
    }  

    .background-spinner h1{
        font-size: 24px;
        text-align: center;
    }  
    .btn-carregamento{
        height: 40px;
        font-size: 16px;
    }

    .info-3d {
        border-radius: 1.5px;
        bottom: 4%;
        right: 8%;
        padding: 5px 2% 5px 10px;
        z-index: 2;
    }
    .info-3d h1{
        font-size: 20px;
    }
    .info-3d p{
        font-size: 14px;
    }
}



/* animacao whats  */

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: breathe 2s ease-in-out infinite;
    text-decoration: none;
}

.whatsapp-btn svg {
    color: #fff;
    font-size: 24px;
    animation: beat 2s ease-in-out infinite;
}



@keyframes breathe {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 101, 0.432);
    }
    70% {
        box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
