body{
    /* background-color: var(--cor-fundo); */
    background: linear-gradient(113deg, #2B2998 -30.3%, #010520 58.12%);
}
.nav-bar-portifolio{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    width: 100vw;
    position: fixed;
}
.home{
    background: linear-gradient(113deg, #2B2998 -30.3%, #010520 58.12%);
}

.menu{
    display: flex;
    gap: 40px;
    padding-right: 80px;
}

.menu li a{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 80px;
    text-decoration: none;
    gap: 10px;
}
.logo a span{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    gap: 150px;
    padding-top: 60px;
}
.container-imagem img{
    margin-top: 60px;
    width: 25vw;
    filter: opacity(0.1);
}

.container-home .titulo{
    color: #FFF;
    font-family: Poiret One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

.container-home .subtitulo{
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
}
.home-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.side{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.container-home .side{
    color: rgba(255, 255, 255, 0.30);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 27.8px;
    transform: rotate(-90deg);
}
.btn-padrao{
    width: 206px;
    height: 43px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-branco);
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-branco);
    transition: all 0.4s ease 0s;
    padding: 10px 20px;
}

.btn-padrao:hover{
    color: var(--cor-fundo-manutencao);
    background-color: var(--cor-branco);
    text-decoration: none;
    cursor: pointer;
}
.container-redes-sociais{
    background-color: #010520;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.container-redes-sociais a{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s ease 0s;
}
.container-redes-sociais a:hover svg path{
    fill: var(--cor-branco);
    text-decoration: none;
    cursor: pointer;
}
.container-profissao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 50px 0;
    margin: auto;
}
.imagem-profissao img{
    width: 40vw;
    filter: opacity(0.1);
}

.container-profissao .texto-profissao h1{
    color: var(--cor-branco);
    font-family: Poly;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
    /* white-space: pre-wrap; */
    word-break: break-all;
    max-width: 500px;
    margin-bottom: 20px;
}
.texto-profissao h2{
    color: var(--cor-branco);
    font-family: Quantico;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 72px */
    letter-spacing: 0.3px;
    word-break: break-all;
    max-width: 500px;
}
.container-profissao .texto-profissao p{
    color: rgba(255, 255, 255, 0.50);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%; 
    letter-spacing: 0.3px;
    max-width: 450px;
    margin-top: 20px;
}
