body{
    /* background-color: var(--cor-fundo); */
    background: linear-gradient(113deg, #2B2998 -30.3%, #010520 58.12%);
}
.nav-bar-portifolio{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    background-color: var(--cor-preto);
}
.home{
    background: linear-gradient(113deg, #2B2998 -30.3%, #010520 58.12%);
}

.menu{
    display: flex;
    gap: 40px;
    padding-right: 80px;
}

.menu li a{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 80px;
    text-decoration: none;
    gap: 10px;
}
.logo a span{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    gap: 150px;
}
.container-imagem img{
    margin-top: 60px;
    width: 25vw;
}

.container-home .titulo{
    color: #FFF;
    font-family: Poiret One;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

.container-home .subtitulo{
    color: #A6A6A6;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
}
.home-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.side{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.container-home .side{
    color: rgba(255, 255, 255, 0.30);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 27.8px;
    transform: rotate(-90deg);
}

/* .navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--cor-preto);
}

.logo{
    color: #FFF;
    font-family: Cormorant;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 86%; 
    letter-spacing: -1.28px;
    color: var(--cor-branco);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    gap: 30px;
} */

/* .nav-item a{
    list-style: none;
    text-decoration: none;
    color: var(--cor-branco);
}

.nav-item a:hover{
    color: var(--cor-branco);
    border-bottom: 0.2em solid var(--cor-branco);
    display: inline-block;
}

.nav-menu{
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 150px;
} */