body{
    /* background-color: var(--cor-fundo); */
    background: linear-gradient(var(--cor-fundo-manutencao), var(--cor-fundo-manutencao-2));
}

/* .navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--cor-preto);
}

.logo{
    color: #FFF;
    font-family: Cormorant;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 86%; 
    letter-spacing: -1.28px;
    color: var(--cor-branco);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    gap: 30px;
} */

/* .nav-item a{
    list-style: none;
    text-decoration: none;
    color: var(--cor-branco);
}

.nav-item a:hover{
    color: var(--cor-branco);
    border-bottom: 0.2em solid var(--cor-branco);
    display: inline-block;
}

.nav-menu{
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 150px;
} */

.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    gap: 150px;
}

.container-texto-aviso h1{
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--cor-branco);
    text-align: center;
    padding-bottom: 22px;
}

 .container-imagem img{
    width: 35vw;
 }

 .container-texto-aviso{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin-left: 50px;
 }
.container-texto-aviso p{
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.28px;
    color: var(--cor-branco);
    text-align: justify;
    width: 400px;
    padding-bottom: 30px;
}
.container-texto-aviso i{
    color: var(--cor-icon);
    font-size: 50px;
    padding-bottom: 20px;
}
.button-azul{
    width: 206px;
    height: 43px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-branco);
    background-color: var(--cor-fundo-manutencao);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor-branco);
    transition: all 0.4s ease 0s;
}
.button-azul:hover{
    color: var(--cor-fundo-manutencao);
    background-color: var(--cor-branco);
    text-decoration: none;
    cursor: pointer;
}
.redes-sociais-link{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 40px;
}

.button-a{
    text-decoration: none;
    font-family: poppins;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociais-link{
    width: 100%;
    height: 120px;
}

.redes-sociais-link a i{
    text-decoration: none;
    font-size: 30px;
}

.redes-sociais-link a:hover i{
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 35px;
    transition: all 0.4s ease 0s;
}
