.home-principal h1 {
    color: #FFF;
    font-family: Quantico;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.subtitulo-web{
    color: var(--second-color);
    font-family: Quantico;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -28px;
}
.digitando{
    animation: typing 2s steps(22), blinking 0.5s step-end infinite alternate;
    border-right: 3px solid;
}

.container-home .subtitulo{
    color: var(--cor-branco);
    font-family: Poiret One;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
    white-space: nowrap;
    overflow: hidden;
}


.efeito-direita{
    animation: slideInFromRight 4s ease-in-out;
}

@keyframes typing{
    from{
        width: 0;
    }
}

@keyframes blinking{
    50%{
        border-color: transparent;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1360px) {
    .container-home{
        padding-top: 160px !important;
    }
    .home-principal h1 {
        font-size: 40px;
    }
    .subtitulo-web{
        font-size: 40px;
    }
    .container-home .subtitulo{
        font-size: 30px;
    }
}